<template>
    <div @click="answerCheck">
        <img v-if="answer" src="https://img.icons8.com/ios-filled/26/000000/checkmark.png">
    </div>
</template>

<script>
    export default {
        props: ['index', 'use'],
        data: function () {
            return {
                answer: false,
                useIndex: null
            }
        },
        methods: {
            answerCheck() {
                if (this.use) {
                    this.answer = !this.answer;
                    this.useIndex = this.index;
                    this.$emit('answerCheck')
                } else if(this.useIndex === this.index) {
                    this.answer = !this.answer;
                    this.useIndex = null;
                    this.$emit('answerCheck')
                } else {
                    this.$emit('showWarning')
                }
            }
        },
        computed: {
            getStep() {
                return this.$store.getters.getStep
            }
        },
        watch: {
            getStep: function () {
                this.answer = false;
                this.useIndex = null;
            }
        }
    }
</script>

<style lang="scss" scoped>
    div {
        height: 20px;
        width: 23px;
        border: 1px solid #3A3A3A;
        border-radius: 20%;
        cursor: pointer;
    }

    img {
        height: 100%;
        width: 100%;
    }
</style>
