<template>
    <div class="main">
        <div class="filters" @change="filterChange">
            <div class="filter-role">
                <h4>Фильтр по ролям</h4>
                <select v-model="filterRole">
                    <option value="0">Все роли</option>
                    <option value="фронтэнд">Frontend-разработчик</option>
                    <option value="бэкэнд">Backend-разработчик</option>
                    <option value="аналитик">Аналитик</option>
                    <option value="тестировщик">Тестировщик</option>
                    <option value="менеджер">Менеджер</option>
                    <option value="дизайнер">Дизайнер</option>
                </select>
            </div>

            <div class="filter-test">
                <h4>Фильтр по тесту</h4>
                <select v-model="filterTest">
                    <option value="total">Общий балл</option>
                    <option value="1">Тест по Soft-Skills</option>
                    <!--                    <option value="2">Общий тест</option>-->
                    <option value="3">Тест по Hard-Skills</option>
                </select>
            </div>
        </div>

        <div class="auto">
            <button @click.prevent="autoFormation">Автоматическое формирование команд</button>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                filterTest: 1,
                filterRole: 0
            }
        },
        methods: {
            autoFormation() {
                this.$emit('autoFormation')
            },
            filterChange() {
                let data = {
                    url: this.$store.state.url,
                    filterRole: this.filterRole,
                    filterTest: this.filterTest
                }
                this.$store.dispatch('filterStudentBoard', data)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .main {
        height: 150px;

        .filters {
            display: flex;
            justify-content: space-between;
            /*margin-top: 200px;*/
            .filter-role {
                /*padding-top: 300px;*/
                h4 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 95%;
                    color: black;
                    margin: 0 0 0 10px;
                }

                select {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    background: none;
                    width: 200px;
                    height: 30px;
                    border: 1px solid #E6E6E6;
                    /*appearance: none;*/
                    /*-moz-appearance: none;*/
                    /*-webkit-appearance: none;*/
                    padding-left: 5px;
                    outline: none;
                    cursor: pointer;
                    margin: 10px;

                }
            }

            .filter-test {
                /*padding-top: 300px;*/
                h4 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 95%;
                    color: black;
                    margin: 0 0 0 10px;
                }

                select {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    background: none;
                    width: 200px;
                    height: 30px;
                    border: 1px solid #E6E6E6;
                    /*appearance: none;*/
                    /*-moz-appearance: none;*/
                    /*-webkit-appearance: none;*/
                    padding-left: 5px;
                    outline: none;
                    cursor: pointer;
                    margin: 10px;

                }
            }
        }

        .auto {
            margin-bottom: 10px;
            display: flex;
            justify-content: center;

            button {
                /*margin-left: 20px;*/
                border: 0;
                height: 27px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 95%;
                color: #FFFFFF;
                background: #FA9224;
                border-radius: 7px;
                outline: none;
                cursor: pointer;
                padding: 0 10px;
            }
        }
    }
</style>
