<template>
    <div class="team-card">
        <div class="name-team">
            {{ team.team_name }}
        </div>
        <div class="name-border-bottom"></div>
        <div v-for="people in team.students" class="peoplesTeam">
            <formed-team-people :people="people"/>
        </div>
        <button @click="unformedTeam" class="unformed-team">Расформировать команду</button>
    </div>
</template>

<script>
    import formedTeamPeople from "./formedTeamPeople"
    import Axios from "axios";

    export default {
        name: "Team_card",
        components: {
            formedTeamPeople
        },
        props: ['team', 'teamName', 'i'],
        methods: {
            unformedTeam: function () {
                Axios({
                    url: this.$store.state.url + '/change-status-team',
                    data: {
                        team_id: this.team.team_id,
                        form: 0,
                    },
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then(resp => {
                        // console.log(resp)
                    })
                    .catch(err => {
                        console.log(err)
                    })

                this.$emit('unformedTeam', this.i)
            }
        },
    }
</script>

<style scoped>
    .team-card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 562px;
        background: #FFFFFF;
        box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin-top: 20px;
    }

    .name-team {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 95%;
        /* or 18px */
        color: #3A3A3A;
        margin-top: 15px;
    }

    .name-border-bottom {
        width: 451px;
        height: 0px;
        border: 1px solid #3A3A3A;
        border-radius: 7px;
        margin-top: 5px;
    }

    .peoplesTeam {
        margin-top: 14px;
    }

    .unformed-team {
        width: 242px;
        height: 25px;
        background: #FA9224;
        border: 0;
        border-radius: 7px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        margin: 15px 0;
        cursor: pointer;
        outline: none;
    }

    @media (max-width: 1024px) {
        .team-card {
            width: 500px;
        }
    }

    @media (max-width: 900px) {
        .team-card {
            width: 430px;
        }

        .name-border-bottom[data-v-3eea0ea0] {
            width: 90%;
        }
    }

    @media (max-width: 900px) {
        .team-card {
            width: 430px;
        }

        .name-border-bottom[data-v-3eea0ea0] {
            width: 90%;
        }
    }

    @media (max-width: 780px) {
        .team-card {
            width: 330px;
        }
    }

    @media (max-width: 640px) {
        .team-card {
            width: 280px;
        }

        .unformed-team[data-v-3eea0ea0] {
            width: 190px;
            font-size: 12px;
        }
    }
</style>