<template>
    <div class="peopleTeam">
        <div class="people">
            <div class="people-fio">
                {{ people.fio }}
            </div>
            <div class="people-test">
                Баллы: {{ people.total_point }}
            </div>
            <div class="people-vuz">
                {{ people.study_place }}
            </div>
            <div class="people-role">
                {{ people.role.name }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "formedTeamPeople",
        props: ['people'],
    }
</script>

<style scoped>
    .peopleTeam {
        width: 451px;
        height: 18px;
        font-family: Montserrat, serif;
    }

    .people {
        display: flex;
        width: 420px;
        margin: 5px 0 0 10px;
        border-bottom: 1px solid #E6E6E6;
    }

    .people-fio {
        display: flex;
        align-items: center;
        width: 145px;
        border-left: 1px solid #E6E6E6;
        padding-left: 3px;
    }

    .people-role {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
    }

    .people-test {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
        width: 90px;
    }

    .people-vuz {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
        width: 75px;
    }

    @media (max-width: 1024px) {
        .peopleTeam {
            width: 350px;
        }
    }

    @media (max-width: 780px) {
        .peopleTeam {
            width: 280px;
        }
    }

    @media (max-width: 640px) {
        .peopleTeam {
            width: 230px;
        }
    }
</style>