<template>
    <div class="background-info">
        <div class="window-info">
            <img @click="closeWindow" class="button-close" src="../../public/close.png">
            <div class="headers">
                <div class="fio-role">
                    <div class="fio">
                        {{ peopleInfo.fio }}
                    </div>
                    <div class="under-border"></div>
                </div>
            </div>
            <div class="additional-info">
                <div><b>Роль:</b> {{ peopleInfo.role.name }}</div>
                <div><b>Учебное заведение:</b> {{ peopleInfo.study_place }}</div>
                <div><b>E-mail:</b> {{ peopleInfo.email }}</div>
                <div><b>Номер телефона:</b> {{ peopleInfo.phone }}</div>
                <div><b>Результат теста:</b>
                    <div><b>Этап 1:</b> {{ peopleInfo.stage1 }}</div>
                    <div><b>Этап 2:</b> {{ peopleInfo.stage3 }}</div>
                    <div><b>Общий балл:</b> {{ peopleInfo.total_point }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "informationOfStudent",
        props: ['peopleInfo'],
        data() {
            return {
                showInfo: true,
            }
        },
        methods: {
            closeWindow: function () {
                this.$emit('closeWindow')
            },
        },
    }
</script>

<style scoped>
    .background-info {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .window-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat, serif;
        width: 350px;
        height: 360px;
        background-color: white;
        margin-top: 120px;
        border: 1px solid #333333;
        border-radius: 25px;
        position: relative;
        z-index: 999;
    }

    .button-close {
        margin: 10px 0 0 85%;
    }

    .headers {
        display: flex;
        margin-top: 15px;
    }

    .under-border {
        border-bottom: 3px solid #3A3A3A;
        width: 83%;
        margin-top: 10px;
    }

    .fio-role {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        font-size: 24px;
    }

    .fio {
        width: 340px;
    }

    .additional-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 15px;
    }

    .additional-info div b {
        margin-right: 5px;
    }

    .additional-info div {
        margin-top: 5px;
    }

    .additional-info div div {
        margin: 5px 0 0 10px;
    }
</style>
