<template>
    <div class="peoples-card">
        <div class="peopleInfo">
            <div>{{ people.name }}</div>
            <div>{{ people.info }}</div>
        </div>
    </div>
</template>

<script>
    import formedTeamCard from "../components/formedTeamCard";
    import Axios from "axios";

    export default {
        props: ['people'],
        components: {},
        data() {
            return {}
        },
        methods: {},
    }
</script>

<style scoped>
    .peoples-card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin: 20px 20px 20px 10px
    }
</style>
