<template>
  <div @click="closeWindow" class="background-info">
    <div class="window-info">
      <div class="window-info-title">
        <h4>Новый набор</h4>

      </div>
      <div class="window-info-content">
        <h4>Количество заявок: </h4>
        <h4>{{numApplication}}</h4>
        <button class="window-info-content-button" @click.prevent="start">Начать набор</button>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: "startRecruting",
    props:['numApplication'],
    data() {
      return {
        showInfo: true,
        showMessage: false
      }
    },
    methods: {
      closeWindow: function () {
        this.$emit('closeWindow')
      },
      async start() {
        await this.$store.dispatch('startNewRecruting')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .background-info {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border: none !important;
  }

  .window-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 250px;
    background-color: white;
    margin-top: 120px;
    border-radius: 5px;

    .window-info-title {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      background: #7DDAD0;
      color: #ffffff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: 95%;
      h4 {
        margin-top: 15px;
      }
    }
    .window-info-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      align-items: center;

      h4 {
        margin:  0;
        padding: 0 0 10px 0;
      }
      .window-info-content-button {
        width: 200px;
        height: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 95%;
        color: #FFFFFF;
        background: #FA9224;
        border-radius: 3px;
        border: 0;
        outline: none;
        cursor: pointer;
      }
    }
  }
</style>
