<template>
  <div class="students">
    <StudentInfo />
  </div>
</template>

<script>
  import StudentInfo from "./StudentInfo";
  export default {
    components: {
      StudentInfo
    }
  }
</script>

<style scoped lang="scss">
  .students {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #333333;
    width: 600px;
    margin-right: 50px;
    margin-top: 50px;
  }
</style>
