<template>
  <div class="teams">
    <div class="teams-title">
      <h3>Команды</h3>
    </div>

    <TeamList />
  </div>
</template>

<script>
  import TeamList from "./TeamList";
  export default {
    components: {
      TeamList
    }
  }
</script>

<style scoped lang="scss">
  .teams {
    width: 500px;
    height: 500px;
    border: 1px solid #333333;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .teams-title {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #333333;
      text-align: center;
      border-bottom: 1px solid #333333;

      h3 {
        margin: 0;
        padding: 0;
        margin-top: 15px;
      }
    }
  }


</style>
