<template>
    <div class="team-list">
        <div class="team-list-title">
            <h3>Название команды</h3>
        </div>
        <div class="team-list-position">
            <h3>Место свободно</h3>
        </div>
        <div class="team-list-position">
            <h3>Место свободно</h3>
        </div>
        <div class="team-list-position">
            <h3>Место свободно</h3>
        </div>
    </div>
</template>

<script>
    export default {}
</script>

<style scoped lang="scss">
    .team-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;

        .team-list-title {
            border: 1px solid #333333;
            text-align: center;
            padding: 10px 5px;
        }

        .team-list-position {
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #333333;
            padding: 10px 5px 5px 10px
        }
    }

    h3 {
        margin: 0;
        padding: 0;
    }
</style>