<template>
  <div class="test">
    <div class="test-href" >
      <p>{{num + 1}})</p>
      <a :href="i.path" target="_blank">{{i.label}}</a>
    </div>
    <div class="test-answer">
     <div class="test-answer-input">
       <input
               type="text"
               placeholder="Введите ответ"
               v-model="testResult"
               @input="checkResult"
               :readonly="readonlyTest"
       >
<!--       <small v-if="invalidResult">-->
<!--         Введены некорректные данные. Результат теста может содержать только неотрицательные целочисленные значения-->
<!--       </small>-->
<!--       <small v-else-if="invalidResultRequired">-->
<!--         Поле не может быть пустым-->
<!--       </small>-->
     </div>
      <button :disabled="readonlyTest" @click.prevent="saveResultTest">Сохранить ответ</button>
    </div>
  </div>
</template>

<script>
  export default {
  props: ['i','num', 'resultTest'],
  data: function () {
    return {
        testResult: null,
        invalidResult: false,
        readonlyTest: false
      }
    },
    mounted() {
      this.$store.dispatch('getResultTest')
      .then(() => {
        for (let i in this.$store.state.test.resultTest) {
          // console.log(this.resultTest[i])
          if (this.resultTest[i].test_id === this.i.id) {
              console.log(this.resultTest[i].test_id, this.i.id)
            if (this.resultTest[i].result !== 0) {
              this.testResult = this.resultTest[i].result
              this.readonlyTest = true
            }
          }
        }
      })

    },
    methods: {
      async saveResultTest() {
        let data = {
          test_id: this.i.id,
          points: this.testResult
        }
        if (this.testResult === '' || this.testResult === null) {
          this.$toastr.error( `Заполните поле "Результат теста"` , 'Ошибка', {
            closeButton: true,
            timeOut: 3000,
          })
          return
          } else if(this.invalidResult) {
            return
          } else  {
            await this.$store.dispatch('saveResultTest',data)

            if ((this.$store.state.test.messageResult === 'Результаты теста успешно записаны') ||
              (this.$store.state.test.messageResult === 'Результаты теста успешно сохранены')) {
              this.$toastr.success( `${this.$store.state.test.messageResult}` , 'Успешно', {
                closeButton: true,
                timeOut: 3000,
              })
                this.$emit('saveResultTest')
              this.readonlyTest = true;
            } else{
              this.$toastr.error( `Ошибка` , 'Ошибка', {
                closeButton: true,
                timeOut: 3000,
              })
            }
          }
      },
      checkResult() {
        let maxPoints = ""
        if(this.i.max_points === null) {
          maxPoints = 100
        } else {
          maxPoints = this.i.max_points
        }
        let reg = /^\d+$/
        if ((!this.testResult.match(reg) && this.testResult !== '')) {
          this.invalidResult = true
          this.$toastr.error( `Результат теста может быть только положительным числом` , 'Ошибка', {
            closeButton: true,
            timeOut: 3000,
          })
          return;
        } else if (this.testResult > maxPoints) {
          this.invalidResult = true
          this.$toastr.error( `Результат теста не может быть больше ${maxPoints}` , 'Ошибка', {
            closeButton: true,
            timeOut: 3000,
          })
          return
        }
          else {
          this.invalidResult = false
        }
      }
    },
  }
</script>

<style lang="scss" scoped>

  .test {
    display: flex;
    flex-direction: column;
    .test-href {
      display: flex;
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 15px;
      margin-bottom: 20px;
      p{
        margin: 0 5px 0 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 95%;
      }
      a {
        outline: none;
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 95%;
      }
    }

    .test-answer {
      display: flex;
      margin-left: 10px;
      margin-bottom: 30px;

      .test-answer-input {
        display: flex;
        flex-direction: column;
        width: 200px;

        input {
          width: 250px;
          height: 25px;
          border-radius: 3px;
          border: 1px solid #3A3A3A;
          padding: 0 0 0 10px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 95%;
          outline: none;
        }
        small {
          margin-top: 5px;
          color: red;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 95%;
        }
      }
      button {
        margin-left: 70px;
        border: 0;
        height: 27px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 95%;
        color: #FFFFFF;
        background: #FA9224;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        padding: 0 10px;
      }
    }
  }
</style>
