<template>
    <div class="team-card" @keyup.enter="hideInputChange">
        <div v-if="!showInput" @dblclick="showInputChange" class="name-team">
            {{ team.team_name }}
        </div>
        <div v-if="showInput" class="change-input">
            <input type="text" v-model="changeTeamName" placeholder="Введите новое название">
        </div>
        <div class="name-border-bottom"></div>
        <div class="peoples-team">
            <unformed-team-board :team="team" :teamId="team.team_id" :students="team.students"
                                 @showWindowInfo="showWindowInfo">
            </unformed-team-board>
        </div>
        <button @click="formedTeam" class="unformed-team">Сформировать команду</button>
    </div>
</template>

<script>
    import UnformedTeamBoard from "./unformedTeamBoard";
    import unformedPeople from "./unformedPeople";
    import Axios from "axios";

    export default {
        name: "Team_card",
        props: ['team', 'index'],
        components: {
            UnformedTeamBoard,
            unformedPeople
        },
        data() {
            return {
                showInput: false,
                teamName: '',
                changeTeamName: '',
            }
        },
        methods: {
            formedTeam: function () {
                Axios({
                    url: this.$store.state.url + '/change-status-team',
                    data: {
                        team_id: this.team.team_id,
                        form: 1,
                    },
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then(resp => {
                        console.log(resp)
                        this.$emit('formedTeam', this.index)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                // setTimeout(() => {
                //     this.$emit('formedTeam', this.index)
                // }, 300)
            },
            showWindowInfo: function (peopleId) {
                this.$emit('showWindowInfo', peopleId)
            },
            showInputChange: function () {
                this.showInput = !this.showInput
            },
            hideInputChange: function () {
                if (this.changeTeamName !== '') {
                    Axios({
                        url: this.$store.state.url + '/change-team-name',
                        data: {
                            team_id: this.team.team_id,
                            name: this.changeTeamName
                        },
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                        .then(resp => {
                            console.log(resp)
                            this.$emit('hideInputChange')
                        })
                        .catch(err => {
                            console.log(err)
                        })
                }
                this.changeTeamName = '';
                this.showInput = false;
            }
        },
    }
</script>

<style scoped>

    .team-card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 562px;
        background: #FFFFFF;
        box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin-top: 20px;
    }

    .name-team {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 95%;
        /* or 18px */
        color: #3A3A3A;
        margin-top: 15px;
    }

    .change-input {
        margin: 10px 0 5px;
    }

    .change-input input {
        border: 0;
        border-bottom: 1px solid #3A3A3A;
        outline: none;
    }

    .name-border-bottom {
        width: 451px;
        height: 0px;
        border: 1px solid #3A3A3A;
        border-radius: 7px;
        margin-top: 5px;
    }

    .peoples-team {
        width: 100%;
        margin-top: 14px;
    }

    .unformed-team {
        width: 242px;
        height: 25px;
        background: #FA9224;
        border: 0;
        border-radius: 7px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 15px;
        cursor: pointer;
        outline: none;
    }

</style>