<template>
    <div @mousedown="selectId" @dblclick="showWindowInfo" class="people-info">

        <div class="people">
            <div class="people-fio">
                {{ people.fio }}
            </div>
            <div class="people-test">
                Баллы: {{ people.total_point }}
            </div>
            <div class="people-vuz">
                {{ people.study_place }}
            </div>
            <div class="people-role">
                {{ people.role.name }}
            </div>
        </div>
    </div>
</template>

<script>
    import filterStudent from "./filterStudent";

    export default {
        props: ['people', 'peopleId'],
        data() {
            return {
                shortFio: '',
            }
        },
        components: {
            filterStudent
        },
        methods: {
            selectId: function () {
                this.$emit('selectId', this.peopleId)
            },
            showWindowInfo: function () {
                this.$emit('showWindowInfo', this.peopleId);
            }
        },
        // mounted() {
        //     let fullFio = this.people.fio;
        //     let t = fullFio.split(' ');
        //     this.shortFio = t[0] + ' ' + t[1][0] + '. ' + t[2][0] + '.';
        // }
    }
</script>

<style scoped>
    .people-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 440px;
        height: 29px;
        background: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 10px;
        flex-shrink: 0;
        cursor: grab;
        font-family: Montserrat, serif;
    }

    .people {
        display: flex;
        width: 420px;
        margin: 5px 0 0 10px;
        border-bottom: 1px solid #E6E6E6;
    }

    .people-fio {
        display: flex;
        align-items: center;
        width: 133px;
        border-left: 1px solid #E6E6E6;
        padding-left: 3px;
    }

    .people-role {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
    }

    .people-test {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
        width: 90px;
    }

    .people-vuz {
        display: flex;
        align-items: center;
        padding-left: 3px;
        border-left: 1px solid #E6E6E6;
        width: 70px;
    }
</style>
