<template>
    <draggable
            class="board"
            v-model="allPeople[0].students"
            v-bind="dragOptions"
            @start="dragStart"
            @end="dragEnd"
    >
        <transition-group class="people-board" :data-teamId="allPeople[0].team_id" type="transition">
            <unformed-people v-for="(people, i) in allPeople[0].students" :peopleId="people.id"
                             :people="people" :key="i" @selectId="selectId" @showWindowInfo="showWindowInfo"/>
        </transition-group>
    </draggable>
</template>

<script>
    import unformedPeople from "./unformedPeople";
    import unformedTeam from "../views/unformedTeam";
    import draggable from 'vuedraggable'
    import Axios from 'axios'

    export default {
        props: ['peopleArray', 'teamId'],
        data() {
            return {
                drag: false,
                peopleId: null,
                newTeamId: null,
            }
        },
        components: {
            draggable,
            unformedPeople,
            unformedTeam
        },
        computed: {
            dragOptions() {
                return {
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                }
            },
            allPeople() {
                return this.$store.getters.allPeople;
            },
        },
        methods: {
            showWindowInfo: function (peopleId) {
                this.$emit('showWindowInfo', peopleId);
            },
            selectId: function (peopleId) {
                this.peopleId = peopleId;
                console.log(this.peopleId)
            },
            dragStart: function () {
                this.drag = true;
            },
            dragEnd: function (evt) {
                this.drag = false;
                console.log(evt.to.getAttribute('data-teamId'));
                this.newTeamId = parseInt(evt.to.getAttribute('data-teamId'));
                console.log(this.peopleId, this.newTeamId);
                Axios({
                    url: this.$store.state.url + '/change-team',
                    data: {
                        user_id: this.peopleId,
                        team_id: this.newTeamId,
                    },
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then(resp => {
                        console.log(resp)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        },
    }
</script>

<style scoped>
    .people-board {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .board {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-bottom: 20px;
    }
</style>