<template>
    <div class="background-info">
        <div class="window-info">
            <div class="headers">
                <h4>Аккуратно!</h4>
            </div>
            <div class="content">
                <h4>Вы действительно выбрали нужный вам тест?</h4>
            </div>
            <div class="button">
                <button class="agree" @click="agreeRole">Да</button>
                <button class="disagree" @click="closeWindow">Нет</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "giveUpTest",
        data() {
            return {}
        },
        methods: {
            agreeRole() {
                this.$emit('agreeRole')
            },
            closeWindow: function () {
                this.$emit('closeWindow')
            },
        },
    }
</script>

<style lang="scss" scoped>
    .background-info {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .window-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 265px;
        background-color: white;
        margin-top: 120px;
        border-radius: 5px;
        position: relative;
        z-index: 999;
        justify-content: space-between;
        user-select: none;

        .headers {
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 50px;
            justify-content: center;
            background: #7DDAD0;
            color: #ffffff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            line-height: 95%;

            h4 {
                margin-top: 20px;
                font-size: 20px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            color: #3A3A3A;

            h4 {
                margin: 0;
                padding: 0 20px;
                font-size: 18px;
            }
        }

        .button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .agree {
                width: 150px;
                height: 40px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 95%;
                color: #FFFFFF;
                background: #FA9224;
                border-radius: 3px;
                border: 0;
                outline: none;
                cursor: pointer;
                margin-left: 40px;
            }

            .disagree {
                width: 150px;
                height: 40px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 95%;
                color: #FFFFFF;
                background: #FA9224;
                border-radius: 3px;
                border: 0;
                outline: none;
                cursor: pointer;
                margin-right: 40px;
            }
        }
    }


</style>
