<template>
  <div id="app">
    <header>
      <div class="head-academy">
        <div class="logo">
          <div class="logo-smart">SMART</div>
          <div class="logo-world">WORLD</div>
        </div>
        <div class="logo-academy">
          <div>ACADEMY</div>
        </div>
        <div class="user">
          <div>Сергей</div>
          <button @click.prevent="logout">Выйти</button>
        </div>
      </div>
    </header>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script>
  export default {
    methods: {
      logout() {
        this.$store.dispatch("logout")
        this.$router.push('/')
      }
    },
  }
</script>

<style lang="scss" scoped>
  body {
    margin: 0;
    padding: 0;
    background: url("/public/Фон.png") no-repeat top;
    background-size: 100%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .head-academy {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #3A3A3A;
    width: 1536px;
    height: 85px;
    margin-top: 30px;

    .logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 125px;
      height: 69px;
      border: 3px solid #7DDAD0;
      border-radius: 3px;
      margin-left: 29px;
      margin-bottom: 16px;

      .logo-smart {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 95%;
        color: #163D46;
      }

      .logo-world {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 95%;
        color: #7DDAD0;
      }
    }

    .logo-academy {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 95%;
        letter-spacing: 0.35em;
        color: #3A3A3A;
      }
    }

    .user {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-right: 35px;

      div {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 95%;
        color: #3A3A3A;
      }

      button {
        width: 101px;
        height: 33px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 95%;
        color: #3A3A3A;
        background: none;
        border: 3px solid #7DDAD0;
        box-sizing: border-box;
        border-radius: 3px;
        margin-top: 6px;
        outline: none;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1600px) {
    body {
      background-size: auto;
    }

    .head-academy {
      width: 80%
    }

  }

  @media (max-width: 1024px) {
    .head-academy .logo {
      margin: 0;
    }
    .head-academy {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
    .head-academy .user {
      display: none;
    }
    .head-academy .logo-academy {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    .head-academy .logo-academy div {
      font-size: 38px;
    }
  }

  @media (max-width: 500px) {
    .head-academy .logo-academy div {
      font-size: 32px;
    }
  }

  @media (max-width: 375px) {
    .head-academy .logo-academy div {
      font-size: 30px;
    }
  }
</style>
