<template>
  <div id="app">
    <header>
      <div class="head-academy">
        <div class="logo">
          <div class="logo-smart">SMART</div>
          <div class="logo-world">WORLD</div>
        </div>
        <div class="logo-academy">
          <div>ACADEMY</div>
        </div>
        <div class="user">
          <h4 v-if="numApplication != null">Кол-во заявок: {{numApplication.leads.data.count}}</h4>
          <button @click.prevent="showWin">Начать набор</button>
<!--          <startRecruting-->
<!--            v-if="show"-->
<!--            @closeWindow="show = !show"-->
<!--            :numApplication="this.numApplication"-->
<!--          />-->
        </div>
        <div v-if="showWindow" class="background-info">
          <div class="window-info">
            <img @click="closeWindow" class="button-close" src="../../public/close.png">
            <div class="headers">
              Вы действительно хотите сделать рассылку?
            </div>
            <div class="additional-info">
              <button @click="getLeads" class="buttonYes">Да</button>
              <button @click="closeWindow" class="buttonNo">Нет</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <router-view/>
    </main>
  </div>
</template>

<script>
  export default {
    data: function () {
      return {
        numApplication: null,
        show: false,
        showWindow: false
      }
    },
    methods: {
        async getLeads() {
          if (this.numApplication.leads.data.count === 0) {
            this.$toastr.warning('Невозможно начать набор, нет ни одной заявки', 'Ошибка!', {
              closeButton: true,
              timeOut: 3000,
            })
            return
          } else {
            await this.$store.dispatch('startNewRecruting')
            this.$toastr.success('Ссылка участникам успешно отправлена', 'Успешно!', {
              closeButton: true,
              timeOut: 3000,
            })
          }
          await this.$store.dispatch('getLeads')
          this.numApplication = this.$store.state.newRecruting
        },
        showWin() {
          this.showWindow = true
        },
        closeWindow() {
          this.showWindow = false
        }
    },
    components: {
    },
     async mounted() {
       await this.$store.dispatch('getLeads')
       this.numApplication = this.$store.state.newRecruting
    }
  }
</script>

<style lang="scss" scoped>

  body {
    margin: 0;
    padding: 0;
    background: url("/public/Фон.png") no-repeat top;
    background-size: 100%;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .head-academy {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #3A3A3A;
    width: 1536px;
    height: 85px;
    margin-top: 30px;

    .logo {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 125px;
      height: 69px;
      border: 3px solid #7DDAD0;
      border-radius: 3px;
      margin-left: 29px;
      margin-bottom: 16px;

      .logo-smart {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 95%;
        color: #163D46;
      }

      .logo-world {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 95%;
        color: #7DDAD0;
      }
    }

    .logo-academy {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 95%;
        letter-spacing: 0.35em;
        color: #3A3A3A;
      }
    }

    .user {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-right: 35px;

      /*div {*/

      /*  color: #3A3A3A;*/
      /*  border: 1px solid red;*/
      /*}*/

      h4 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 95%;
        margin: 0 0 5px 0;
        padding: 0;
      }

      button {
        text-align: center;
        width: 151px;
        height: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: 95%;
        background: none;
        box-sizing: border-box;
        border-radius: 3px;
        white-space: nowrap;
        outline: none;
        cursor: pointer;
        font-size: 18px;
        color: #FFFFFF;
        background: #FA9224;
        border: 0;
        padding: 5px 0px;
        margin-bottom: 5px;
      }

      /*button:active {*/
      /*  background: #FA9224;*/
      /*}*/

      /*.newSet {*/
      /*  background: #FA9224 !important;*/
      /*}*/
    }

    .background-info {
      display: flex;
      justify-content: center;
      position: fixed;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      .window-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat, serif;
        width: 350px;
        height: 200px;
        background-color: white;
        margin-top: 120px;
        border: 1px solid #333333;
        border-radius: 25px;
        position: relative;
        z-index: 999;

        .button-close {
          margin: 10px 0 0 85%;
        }

        .headers {
          display: flex;
          text-align: center;
          margin-top: 15px;
        }

        .additional-info {
          display: flex;
          justify-content: space-around;
          width: 80%;
          margin-top: 35px;

            .buttonYes {
              width: 60px;
              height: 35px;
              color: white;
              background-color: green;
              border: 1px solid #3A3A3A;
              border-radius: 10px;
              outline: none;
              cursor: pointer;
            }

            .buttonNo {
              width: 60px;
              height: 35px;
              color: white;
              background-color: red;
              border: 1px solid #3A3A3A;
              border-radius: 10px;
              outline: none;
              cursor: pointer;
            }
        }
      }
    }
  }

  @media (max-width: 1600px) {
    body {
      background-size: auto;
    }

    .head-academy {
      width: 80%
    }

  }

  @media (max-width: 1024px) {
    .head-academy .logo {
      margin: 0;
    }
    .head-academy {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
    .head-academy .user {
      display: none;
    }
    .head-academy .logo-academy {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    .head-academy .logo-academy div {
      font-size: 38px;
    }
  }

  @media (max-width: 500px) {
    .head-academy .logo-academy div {
      font-size: 32px;
    }
  }

  @media (max-width: 375px) {
    .head-academy .logo-academy div {
      font-size: 30px;
    }
  }
</style>
