<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
  import AuthLayout from "./ layouts/AuthLayout";
  import MainLayout from "./ layouts/MainLayout";
  import SupervisorLayout from "./ layouts/SupervisorLayout";
  import RegistrationLayout from "./ layouts/RegistrationLayout";
  export default {
    methods: {
      // logout() {
      //   // this.$router.push('/studentRegistration')
      // }
    },
    components: {
      MainLayout,
      SupervisorLayout,
      RegistrationLayout,
      AuthLayout
    },
    computed: {
      layout() {
        return (this.$route.meta.layout || 'main') + '-layout'
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>

