<template>
    <div class="auth">
        <div class="auth-form">
            <div class="auth-text">
                <h3>Авторизация</h3>
            </div>
            <form @submit.prevent="login">
                <div class="auth-email">
                    <label for="email">Email</label>
                    <input
                            id="email"
                            v-model="email"
                            :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
                    >
                    <small
                            v-if="($v.email.$dirty && !$v.email.required)"
                            class="red-color"
                    >
                        Заполните e-mail
                    </small>
                    <small
                            v-else-if="($v.email.$dirty && !$v.email.email)"
                            class="red-color"
                    >
                        Неверный формат e-mail
                    </small>
                </div>

                <div class="auth-password">
                    <label for="password">Пароль</label>
                    <input
                            type="password"
                            id="password"
                            v-model="password"
                            :class="{invalid: ($v.password.$dirty && !$v.password.required)}"
                            @input="checkPassword(password)"
                    >
                    <small
                            v-if="($v.password.$dirty && !$v.password.required)"
                            class="red-color"
                    >
                        Заполните пароль
                    </small>
                    <small
                            v-if="(invalidPassword)"
                            class="red-color"
                    >
                        Размер не менее 8 знаков/символов и не более 30 знаков/символов.
                        Пароль должен состоять из чисел и латинских букв.
                    </small>
                </div>

                <div class="auth-button">
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {email, required, minLength, maxLength,} from 'vuelidate/lib/validators'

    export default {
        data: function () {
            return {
                email: '',
                password: null,
                invalidPassword: false
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(8),
                maxLength: maxLength(30)
            }
        },
        methods: {
            checkPassword(password) {
                let reg = /(?!^ |.* $)^[^а-яА-ЯёЁіІЇїєЄ\t]+$/;
                let classPassword = document.querySelector('#password').classList.contains('invalid')
                if ((!password.match(reg) || (password.length < 8) || (password.length > 30)) && password !== '') {
                    document.querySelector('#password').style.borderBottomColor = 'red'
                    this.invalidPassword = true
                } else if (!classPassword && password === '') {
                    // console.log(classPassword)
                    document.querySelector('#password').style.borderBottomColor = 'red'
                    this.invalidPassword = false
                } else {
                    document.querySelector('#password').style.borderBottomColor = '#E6E6E6'
                    this.invalidPassword = false
                }
            },
            login: function () {
                if (this.$v.$invalid) {
                    this.$v.$touch()
                    return
                }
                if (this.invalidPassword) {
                    return
                }
                let formData = {
                    email: this.email,
                    password: this.password
                }
                this.$store.dispatch('login', formData)
                    .then(() => {
                        if (localStorage.getItem('status') && localStorage.getItem('status') === '15') {
                            this.$router.push('/supervisor/formedTeam')
                        } else if (localStorage.getItem('status') && (localStorage.getItem('status') === '11' || localStorage.getItem('status') === '12')) {
                            this.$router.push('/studentCabinet')
                        } else {
                            this.$toastr.error('Неверный e-mail или пароль', 'Ошибка авторизации!', {
                                closeButton: true,
                                timeOut: 3000,
                            })
                            this.$store.dispatch("logout")
                            this.$router.push('/')
                        }
                    })

                    // .catch(err => console.log(err))
                    .catch(err => {
                        this.$toastr.error('Неверный e-mail или пароль', 'Ошибка авторизации!', {
                            closeButton: true,
                            timeOut: 3000,
                        })
                        return
                    })
            },
        },
        created: function () {
            this.$http.interceptors.response.use(undefined, function (err) {
                return new Promise(function (resolve, reject) {
                    if (err.status === 401 && err.config && !err.config.isRetryRequest) {
                        console.log('HELLO THERE!')
                        this.$store.dispatch("logout")
                    }
                    throw err;
                });
            });
        }
    }
</script>

<style scoped lang="scss">
    .auth {
        display: flex;
        justify-content: center;

        .auth-form {
            display: flex;
            flex-direction: column;
            margin-top: 197px;
            margin-bottom: 197px;
            width: 308px;
            /*height: 280px;*/
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            .auth-text {
                display: flex;
                justify-content: center;
                background: #7DDAD0;
                text-align: center;
                width: 100%;
                height: 66px;
                border-radius: 5px 5px 0 0;

                h3 {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 95%;
                    color: #FFFFFF;
                    margin: auto 0;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                /*height: 214px;*/
                /* margin-bottom: 60px;*/

                .auth-email {
                    /*padding-top: 43px;*/
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    width: 240px;
                    margin-top: 43px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 95%;
                    color: #3A3A3A;

                    input {
                        margin-top: 1px;
                        border: 0;
                        border-bottom: 1px solid #E6E6E6;
                        outline: none;
                    }

                    .invalid {
                        border-bottom: 1px solid red !important;
                    }
                }

                .auth-password {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    width: 240px;
                    margin-top: 24px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 95%;
                    color: #3A3A3A;

                    input {
                        margin-top: 1px;
                        border: 0;
                        border-bottom: 1px solid #E6E6E6;
                        outline: none;
                    }

                    .invalid {
                        border-bottom: 1px solid red;
                    }
                }

                .auth-button {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
                    padding-top: 34px;

                    button {
                        width: 234px;
                        height: 26px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        color: #FFFFFF;
                        background: #FA9224;
                        border-radius: 3px;
                        border: 0;
                        outline: none;
                        cursor: pointer;
                        margin-bottom: 34px;
                    }
                }

                small {
                    margin: 0;
                    padding: 5px 0 0 0;
                }
            }
        }

        .red-color {
            color: red;
        }
    }

    @media (max-width: 768px) {
        .auth .auth-form {
            margin-top: 160px;
        }
    }

    @media (max-width: 375px) {
        .auth .auth-form {
            width: 280px;
            height: 280px;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        .auth .auth-form .auth-text {
            height: 60px;
        }
    }
</style>
