<template>
    <div class="formed-team-div">
        <div class="formed-team">
            <div class="formed-team-border-top"></div>
            <div class="teams-div">
                <formed-team-card v-for="(team, i) in formedTeam" :team="team" :i="i" @unformedTeam="unformedTeam"/>
            </div>
            <div class="formed-team-border-bottom"></div>
        </div>
    </div>
</template>

<script>
    import formedTeamCard from "../components/formedTeamCard";
    import Axios from "axios";

    export default {
        name: "formedTeam",
        components: {
            formedTeamCard,
        },
        data() {
            return {
                formedTeam: [],
            }
        },
        methods: {
            unformedTeam: function (index) {
                this.formedTeam.splice(index, 1);
            }
        },
        mounted() {
            if (localStorage.getItem('status') && localStorage.getItem('status') === '15') {
                let self = this;
                Axios({
                    url: this.$store.state.url + '/get-all-students-in-set',
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    },
                })
                    .then(function (res) {
                        self.formedTeam = res.data;
                    })
                    .catch(function (error) {
                        console.log('Error: ', error);
                    })
            } else {
                this.$store.dispatch("logout")
                this.$router.push('/')
                // this.$store.dispatch('messageWarn')
            }
        }
    }
</script>

<style scoped>
    ::-webkit-scrollbar {
        width: 21px;
        height: 658px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        width: 17px;
        height: 16px;
        background: #7DDAD0;
        border: 0.5px solid #6BACA5;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .formed-team-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1432px;
        height: 785px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;
    }

    .formed-team {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .teams-div {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 630px;
        height: 660px;
        overflow-y: scroll;
        padding-bottom: 15px;
    }

    .formed-team-border-top {
        width: 95%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 9px;
    }

    .formed-team-border-bottom {
        width: 95%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin-top: 6px;
    }

    @media (max-width: 1600px) {
        .formed-team-div {
            width: 800px;
        }
    }

    @media (max-width: 1024px) {
        .formed-team-div {
            width: 700px;
        }
    }

    @media (max-width: 900px) {
        .formed-team-div {
            width: 600px;
        }


        .teams-div {
            width: 500px;
        }
    }

    @media (max-width: 780px) {
        .formed-team-div {
            width: 500px;
        }

        .teams-div {
            width: 400px;
        }
    }

    @media (max-width: 640px) {
        .formed-team-div {
            width: 420px;
        }

        .teams-div {
            width: 350px;
        }
    }
</style>
