<template>
    <div class="mentor-div">
        <div class="main-div">
            <div class="mentor-peoples">
                <mentor-people-cards v-for="people in peoples" :people="people"/>
            </div>
            <div class="mentor-border-right"></div>
        </div>
    </div>
</template>

<script>
    import mentorPeopleCards from "../components/mentorPeopleCards";
    import Axios from "axios";

    export default {
        components: {
            mentorPeopleCards
        },
        data() {
            return {
                peoples: [
                    {
                        name: 'John',
                        info: 'front'
                    },
                    {
                        name: 'John1',
                        info: 'front1'
                    },
                    {
                        name: 'John2',
                        info: 'front2'
                    },
                    {
                        name: 'John3',
                        info: 'front3'
                    },
                    {
                        name: 'John4',
                        info: 'front4'
                    },
                    {
                        name: 'John4',
                        info: 'front4'
                    },
                    {
                        name: 'John4',
                        info: 'front4'
                    },
                    {
                        name: 'John4',
                        info: 'front4'
                    },
                    {
                        name: 'John4',
                        info: 'front4'
                    },
                ],
            }
        },
        methods: {},
        mounted() {
            if (localStorage.getItem('status') && localStorage.getItem('status') === '15') {
                let self = this;
                Axios({
                    url: this.$store.state.url + '/get-all-students-in-set',
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    },
                })
                    .then(function (res) {
                        self.formedTeam = res.data;
                    })
                    .catch(function (error) {
                        console.log('Error: ', error);
                    })
            } else {
                this.$store.dispatch("logout")
                this.$router.push('/')
                // this.$store.dispatch('messageWarn')
            }
        }
    }
</script>

<style scoped>
    ::-webkit-scrollbar {
        width: 658px;
        height: 10px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        width: 17px;
        height: 16px;
        background: #7DDAD0;
        border: 0.5px solid #6BACA5;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .mentor-div {
        display: flex;
        justify-content: center;
    }

    .main-div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        width: 1432px;
        height: 785px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;
    }

    .mentor-peoples {
        display: flex;
        justify-content: start;
        flex-direction: column;
        flex-wrap: wrap;
        width: 1300px;
        height: 700px;
        overflow-x: scroll;
    }

    .peoples-card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin: 20px 20px 20px 10px
    }

    .mentor-border-right {
        position: relative;
        width: 0;
        height: 90%;
        border: 1px solid #FFFFFF;
        background: none;
        box-shadow: -6px 5px 7px rgba(0, 0, 0, 0.25);
        margin-left: 10px;
    }

    @media (max-width: 1600px) {
        .main-div {
            width: 800px;
        }
    }

    @media (max-width: 1024px) {
        .main-div {
            width: 700px;
        }
    }

    @media (max-width: 900px) {
        .main-div {
            width: 600px;
        }
    }

    @media (max-width: 780px) {
        .main-div {
            width: 500px;
        }
    }

    @media (max-width: 640px) {
        .main-div {
            width: 420px;
        }
    }
</style>
