<template>
  <div class="student-registration">
    <div class="forms-registration">
      <div class="registration-text">
        <div>Регистрация</div>
      </div>
      <form @submit.prevent="goToTestDescription">
        <!--      Выбор роли-->
        <div class="student-select-role">
          <label for="select-div">Роль</label>
          <div id="select-div">
            <div class="my-rail-select">
              <select class="form-control" id="sel1" v-model="selectRole" required>
                <option value="0">Выбор роли в команде</option>
                <option value="фронтэнд">Front-end</option>
                <option value="бэкэнд">Back-end</option>
                <option value="аналитик">Аналитик</option>
                <option value="тестировщик">Тестировщик</option>
                <option value="менеджер">Менеджер</option>
                <option value="дизайнер">Дизайнер</option>
              </select>
            </div>
          </div>
        </div>
        <!--      ФИО студента (приходит с бэка)-->
        <div class="student-info">
          <label for="info">ФИО</label>
          <h3 id="info">{{data.data.fio}}</h3>
        </div>

        <!--      e-mail студента (приходит с бэка)-->
        <div class="student-email">
          <label for="email">E-mail</label>
          <h3 id="email">{{data.data.email}}</h3>
        </div>

        <!--      Пароль-->
        <div class="student-password">
          <label for="password">Пароль</label>
          <input
                  type="password"
                  id="password"
                  v-model="password"
                  :class="{invalid: ($v.password.$dirty && !$v.password.required)}"
                  @input="checkPassword(password)"
          >
          <small
                  v-if="($v.password.$dirty && !$v.password.required) || invalidPasswordRequired"
                  class="red-color"
          >
            Заполните пароль
          </small>
          <small
                  v-if="(invalidPassword)"
                  class="red-color"
          >
            Размер не менее 8 знаков/символов и не более 30 знаков/символов.
            Пароль должен состоять из чисел и латинских букв.
          </small>

        </div>

        <!--      Подтверждение пароля-->
        <div class="student-repeat-password">
          <label for="repeat-password">Подтверждение пароля</label>
          <input
                  type="password"
                  id="repeat-password"
                  v-model="passwordRepeat"
                  @input="checkPasswordRepeat(passwordRepeat)"
          >

          <small
                  v-if="invalidPasswordRepeat"
                  class="red-color"
          >
            Пароли не совпадают
          </small>
        </div>

        <!--      Номер телефона студента (приходит с бэка)-->
        <div class="student-phone">
          <label for="phone">Телефон</label>
          <h3 id="phone">{{data.data.phone}}</h3>
        </div>

        <!--      Возраст-->
        <div class="student-age">
          <label for="age">Возраст</label>
          <input
                  id="age"
                  v-model="age"
                  :class="{invalid: ($v.age.$dirty && !$v.age.required)}"
                  @input="checkAge(age)"
          >
          <small
                  v-if="($v.age.$dirty && !$v.age.required) || invalidAgeRequired"
                  class="red-color"
          >
            Укажите возраст
          </small>
          <small
                  v-if="invalidAge"
                  class="red-color"
          >
            Поле возраст может содержать только цифры значением не менее 18
          </small>
        </div>

        <!--      Опыт-->
<!--        <div class="student-experience">-->
<!--          <label for="experience">Опыт</label>-->
<!--          <textarea-->
<!--                  id="experience"-->
<!--                  cols="10" rows="3"-->
<!--                  v-model="experience"-->
<!--                  :class="{invalid: ($v.experience.$dirty && !$v.experience.required)}"-->
<!--                  @input="checkExperience(experience)"-->
<!--          ></textarea>-->
<!--          <small-->
<!--                  v-if="($v.experience.$dirty && !$v.experience.required) || invalidExperienceRequired"-->
<!--                  class="red-color"-->
<!--          >-->
<!--            Укажите опыт-->
<!--          </small>-->
<!--          <small-->
<!--                  v-else-if="(invalidExperience)"-->
<!--                  class="red-color"-->
<!--          >-->
<!--            Поле Опыт может содержать не более 256 символов-->
<!--          </small>-->
<!--        </div>-->

        <!--      Работает студент или нет-->
<!--        <div class="student-work">-->
<!--          <label for="work">Работаю</label>-->
<!--          <div id="work" @click="checkboxWork">-->
<!--            <img v-if="work" src="https://img.icons8.com/ios-glyphs/26/000000/checkmark.png">-->
<!--          </div>-->
<!--        </div>-->

        <!--      Место учебы-->
        <div class="student-study-place">
          <label for="study-place">Учебное заведение</label>
          <input
                  type="text"
                  id="study-place"
                  v-model="studyPlace"
                  :class="{invalid: ($v.studyPlace.$dirty && !$v.studyPlace.maxLength)}"
                  @input="checkStudyPlace"
          >

          <small
                  v-if="invalidStudyPlace"
                  class="red-color"
          >
            Поле Учебное заведение может содержать не более 8 символов
          </small>
        </div>

        <!--      Период обучения-->
<!--        <div class="student-study-time">-->
<!--          <label for="study-time-first">Период обучения</label>-->
<!--          <div class="study-time-input">-->
<!--            <div class="study-time-first">-->
<!--              <input type="date" id="study-time-first" v-model="studyTimeFirst" @input="checkStudyTimeFirst(studyTimeFirst)">-->
<!--              <small-->
<!--                      v-if="invalidStudyTimeFirst"-->
<!--                      class="red-color"-->
<!--              >-->
<!--                Год должен состоять из 4 цифр-->
<!--              </small>-->
<!--              <small-->
<!--                      v-if="invalidStudyTimeFirstRequired"-->
<!--                      class="red-color"-->
<!--              >-->
<!--                Введите время начала обучения-->
<!--              </small>-->
<!--              <small-->
<!--                      v-if="invalidStudyTimeFirstSmaller"-->
<!--                      class="red-color"-->
<!--              >-->
<!--                Дата начала обучения должна быть меньше, чем дата конца обучения-->
<!--              </small>-->
<!--            </div>-->
<!--            <div>—</div>-->
<!--            <div class="study-time-last">-->
<!--              <input type="date" id="study-time-last" v-model="studyTimeLast" @input="checkStudyTimeLast(studyTimeLast)">-->
<!--              <small-->
<!--                      v-if="invalidStudyTimeLast"-->
<!--                      class="red-color"-->
<!--              >-->
<!--                Год должен состоять из 4 цифр-->
<!--              </small>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!--      Комментарий-->
<!--        <div class="student-comment">-->
<!--          <label for="comment">Комментарий</label>-->
<!--          <textarea-->
<!--                  id="comment"-->
<!--                  cols="10"-->
<!--                  rows="3"-->
<!--                  v-model="comment"-->
<!--                  :class="{invalid: ($v.comment.$dirty && !$v.comment.maxLength)}"-->
<!--          ></textarea>-->

<!--          <small-->
<!--                  v-if="($v.comment.$dirty && !$v.comment.maxLength)"-->
<!--                  class="red-color"-->
<!--          >-->
<!--            Поле Комментарий может содержать не более 256 символов-->
<!--          </small>-->
<!--        </div>--увидимся? -->
        <div class="confirm">
          <div class="confirm-block1">
            <div class="confirm-checkbox" @click="checkboxConfirm">
              <img v-if="confirm" src="https://img.icons8.com/ios-glyphs/26/000000/checkmark.png">
            </div>
            <div class="confirm-block2">
              <div class="confirm-text1">
                Я согласен на обработку персональных данных*
              </div>
              <div class="confirm-text2">
                <a href="https://docs.google.com/document/d/1QDwPa-45bueOGU_Ovll-SM4xIfVgggCo/edit" target="_blank">
                  Политика конфиденциальности
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--      Кнопка перехода к тесту (отправляет данные на сервер и переходит к тесту)-->
        <div class="student-button-test">
          <button type="submit">Перейти к тесту</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { required, minLength, maxLength, numeric} from 'vuelidate/lib/validators'
  export default {
    data: function () {
      return {
        selectRole: '0',
        info: null,
        email: null,
        password: null,
        passwordRepeat: null,
        phone: null,
        age: null,
        experience: null,
        work: false,
        studyPlace: null,
        studyTimeFirst: null,
        studyTimeLast: null,
        comment: null,
        confirm: false,
        data: { data: {}},
        invalidPassword: false,
        invalidPasswordRequired: false,
        invalidPasswordRepeat: false,
        invalidAge: false,
        invalidAgeRequired: false,
        invalidExperience: false,
        invalidExperienceRequired: false,
        invalidStudyTimeFirst: false,
        invalidStudyTimeLast: false,
        invalidStudyTimeFirstRequired: false,
        invalidStudyTimeFirstSmaller: false,
        invalidStudyPlace:false
      }
    },
    validations: {
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(30)
      },
      passwordRepeat: {
        required,
        minLength: minLength(8),
        maxLength:maxLength(30)
      },
      age: {
        required,
        numeric
      },
      // experience: {
      //   required,
      //   maxLength: maxLength(256)
      // },
      studyPlace: {
        maxLength: maxLength(8)
      },
      comment: {
        maxLength: maxLength(256)
      }
    },
    methods: {
      checkPassword(password) {
        let reg = /(?!^ |.* $)^[^а-яА-ЯёЁіІЇїєЄ\t]+$/;
        let classPassword = document.querySelector('#password').classList.contains('invalid')
        if ((!password.match(reg) || (password.length < 8) || (password.length > 30)) && password !== '') {
          document.querySelector('#password').style.borderBottomColor = 'red'
          this.invalidPassword = true
          this.invalidPasswordRequired = false
        } else if (!classPassword && password === ''){
          document.querySelector('#password').style.borderBottomColor = 'red'
          this.invalidPassword = false
          this.invalidPasswordRequired = true
        } else {
          document.querySelector('#password').style.borderBottomColor = '#E6E6E6'
          this.invalidPassword = false
          this.invalidPasswordRequired = false
        }
        if (this.password !== this.passwordRepeat || this.passwordRepeat === '') {
          document.querySelector('#repeat-password').style.borderBottomColor = 'red'
          this.invalidPasswordRepeat = true
        } else {
          document.querySelector('#repeat-password').style.borderBottomColor = '#E6E6E6'
          this.invalidPasswordRepeat = false
        }
      },
      checkPasswordRepeat(passwordRepeat) {
        if (this.password !== passwordRepeat || passwordRepeat === '') {
          document.querySelector('#repeat-password').style.borderBottomColor = 'red'
          this.invalidPasswordRepeat = true
        } else {
          document.querySelector('#repeat-password').style.borderBottomColor = '#E6E6E6'
          this.invalidPasswordRepeat = false
        }
      },
      checkAge(age) {
        let classAge = document.querySelector('#age').classList.contains('invalid')
        let reg = /^\d+$/
        if ((age < 18 && age !== '') || ((!age.match(reg) && age !== ''))) {
          document.querySelector('#age').style.borderBottomColor = 'red'
          this.invalidAge = true
          this.invalidAgeRequired = false
        } else if (!classAge && age === ''){
          document.querySelector('#age').style.borderBottomColor = 'red'
          this.invalidAge = false
          this.invalidAgeRequired = true
        } else {
          document.querySelector('#age').style.borderBottomColor = '#E6E6E6'
          this.invalidAge = false
          this.invalidAgeRequired = false
        }
      },
      checkStudyPlace() {
        if(this.studyPlace.length > 8) {
          this.invalidStudyPlace = true
          document.querySelector('#study-place').style.borderBottomColor = 'red'
        } else {
          document.querySelector('#study-place').style.borderBottomColor = '#E6E6E6'
          this.invalidStudyPlace = false
        }
      },
      // checkExperience(experience) {
      //   if (this.experience[0] === ' ') {
      //     this.experience = ''
      //   }
      //   if (experience.length > 256) {
      //     document.querySelector('#experience').style.borderColor = 'red'
      //     this.invalidExperience = true
      //   } else if(this.experience === ''){
      //     document.querySelector('#experience').style.borderColor = 'red'
      //     this.invalidExperienceRequired = true
      //   } else {
      //     document.querySelector('#experience').style.borderColor = '#E6E6E6'
      //     this.invalidExperience = false
      //     this.invalidExperienceRequired = false
      //   }
      // },
      // checkStudyTimeFirst(studyTimeFirst) {
      //   if (this.studyTimeLast !== null && (this.studyTimeFirst === null ||this.studyTimeFirst === '')) {
      //     this.$toastr.warning('Введите Время начала обучения', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      //   if ((this.studyTimeLast !== null && this.studyTimeFirst !== null && this.studyTimeLast !== '') && (this.studyTimeLast.split('-')[0] <= this.studyTimeFirst.split('-')[0])) {
      //     this.$toastr.warning('Время окончния обучения должно быть больше вреиени начала обучения', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      //   if ((this.studyTimeFirst !== null && this.studyTimeFirst !== '' || this.studyTimeLast !== null && this.studyTimeLast !== '') && (this.studyTimeFirst.length > 10 || this.studyTimeLast.length > 10)) {
      //     this.$toastr.warning('Год должен состоять из 4 цифр', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      // },
      // checkStudyTimeLast(studyTimeLast) {
      //   if (this.studyTimeLast !== null && (this.studyTimeFirst === null ||this.studyTimeFirst === '')) {
      //     this.$toastr.warning('Введите Время начала обучения', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      //   if ((this.studyTimeLast !== null && this.studyTimeFirst !== null && this.studyTimeLast !== '') && (this.studyTimeLast.split('-')[0] <= this.studyTimeFirst.split('-')[0])) {
      //     this.$toastr.warning('Время окончния обучения должно быть больше вреиени начала обучения', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      //   if ((this.studyTimeFirst !== null && this.studyTimeFirst !== '' || this.studyTimeLast !== null && this.studyTimeLast !== '') && (this.studyTimeFirst.length > 10 || this.studyTimeLast.length > 10)) {
      //     this.$toastr.warning('Год должен состоять из 4 цифр', 'Ошибка', {
      //       closeButton: true,
      //       timeOut: 3000,
      //     })
      //     return
      //   }
      // },
      async goToTestDescription() {
        if (this.passwordRepeat === null ) {
          document.querySelector('#repeat-password').style.borderBottomColor = 'red'
          this.invalidPasswordRepeat = true
        }
        if (this.$v.$invalid) {
          this.$v.$touch()
          return
        }
        if (this.selectRole === '0')  {
          this.$toastr.warning('Выберите роль', 'Ошибка', {
            closeButton: true,
            timeOut: 3000,
          })
          return
        }
        if (this.invalidPassword) {
          return
        }

        if (this.invalidAge) {
          return
        }

        if (this.invalidStudyPlace) {
          return
        }

        // if (this.invalidExperience) {
        //   return
        // }

        // if (this.studyTimeLast !== null && (this.studyTimeFirst === null ||this.studyTimeFirst === '')) {
        //   this.$toastr.warning('Введите Время начала обучения', 'Ошибка', {
        //     closeButton: true,
        //     timeOut: 3000,
        //   })
        //   return
        // }
        // if ((this.studyTimeLast !== null && this.studyTimeFirst !== null && this.studyTimeLast !== '') && (this.studyTimeLast.split('-')[0] <= this.studyTimeFirst.split('-')[0])) {
        //   this.$toastr.warning('Время окончния обучения должно быть больше вреиени начала обучения', 'Ошибка', {
        //     closeButton: true,
        //     timeOut: 3000,
        //   })
        //   return
        // }
        // if ((this.studyTimeFirst !== null && this.studyTimeFirst !== '' || this.studyTimeLast !== null && this.studyTimeLast !== '') && (this.studyTimeFirst.length > 10 || this.studyTimeLast.length > 10)) {
        //   this.$toastr.warning('Год должен состоять из 4 цифр', 'Ошибка', {
        //     closeButton: true,
        //     timeOut: 3000,
        //   })
        //   return
        // }
        if (this.confirm === false) {
          this.$toastr.warning('Необходимо дать согласие на обработку персональных данных', 'Ошибка', {
            closeButton: true,
            timeOut: 3000,
          })
          return
        } else {
          let formData = {
            role_name: this.selectRole,
            age: this.age,
            password: this.password,
            study_place: this.studyPlace,
            token: localStorage.getItem('tokenRegistration')
          }
          let formDataLogin = {
            email: this.data.data.email,
            password: this.password,
          }
          console.log(formData)
          console.log(formDataLogin)
          await this.$store.dispatch('signUpStudent', formData)
          // await this.$router.push('/studentCabinet')
          if (this.$store.state.registrationStudent.message === 'Регистрация прошла успешно!') {
            this.$toastr.success(this.$store.state.registrationStudent.message , 'Успешно!', {
              closeButton: true,
              timeOut: 3000,
            })
            this.$store.dispatch('login', formDataLogin)
              .then(() => {
                if (localStorage.getItem('status') && (localStorage.getItem('status') === '11' || localStorage.getItem('status') === '12')) {
                  this.$router.push('/studentCabinet')
                } else {
                  this.$toastr.error('Неверный e-mail или пароль', 'Ошибка авторизации!', {
                    closeButton: true,
                    timeOut: 3000,
                  })
                  this.$store.dispatch("logout")
                  this.$router.push('/')
                }
              })
              .catch(err => {
                this.$toastr.error('Неверный e-mail или пароль', 'Ошибка авторизации!', {
                  closeButton: true,
                  timeOut: 3000,
                })
                return
              })
          } else {
            this.$toastr.error(this.$store.state.registrationStudent.message, 'Ошибка', {
              closeButton: true,
              timeOut: 3000,
            })
            return
          }
        }
      },
      checkboxConfirm() {
        this.confirm = !this.confirm
      },
      // checkboxWork() {
      //   this.work = !this.work
      // },
    },
    async mounted() {
      await this.$store.dispatch('fetchData')
      this.data = await this.$store.state.registrationStudent
      // console.log(this.data)
    }
  }
</script>

<style scoped lang="scss">
  .student-registration {
    display: flex;
    justify-content: center;

  }

  .forms-registration {
    display: flex;
    flex-direction: column;
    width: 472px;
    padding-bottom: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 50px 0 50px;

    .registration-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 472px;
      height: 62px;
      background: #7DDAD0;
      border-radius: 5px 5px 0 0;

      div {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 95%;
        color: #FFFFFF;
        margin-top: 19px;
        margin-bottom: 22px;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .student-select-role {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 28px;

        label {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 95%;
          color: #3A3A3A;
        }


        #select-div {
          margin-top: 4px;

          .my-rail-select {
            width: 356px;

            select {
              font-family: Montserrat;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              background: none;
              width: 356px;
              height: 30px;
              border: 1px solid #E6E6E6;
              /*appearance: none;*/
              /*-moz-appearance: none;*/
              /*-webkit-appearance: none;*/
              padding-left: 5px;
              outline: none;
              cursor: pointer;

            }
          }
        }
      }

      .student-info {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;
        border-bottom: 1px solid #E6E6E6;

        h3 {
          margin: 0;
          margin-top: 5px;
          margin-bottom: 3px;
          border: 0;
          outline: none;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 95%;
          border: 0;
          outline: none;
          color: black;
        }
      }

      .student-email {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;
        border-bottom: 1px solid #E6E6E6;

        h3 {
          margin: 0;
          margin-top: 5px;
          margin-bottom: 3px;
          border: 0;
          outline: none;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 95%;
          border: 0;
          outline: none;
          color: black;
        }
      }

      .student-password {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        input {
          margin-top: 1px;
          border: 0;
          border-bottom: 1px solid #E6E6E6;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border-bottom: 1px solid red;
        }

        input:invalid {
          border-bottom: 1px solid red;
        }
      }

      .student-repeat-password {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        input {
          margin-top: 1px;
          border: 0;
          border-bottom: 1px solid #E6E6E6;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border-bottom: 1px solid red;
        }

      }

      .student-phone {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;
        border-bottom: 1px solid #E6E6E6;

        h3 {
          margin: 0;
          margin-top: 5px;
          margin-bottom: 3px;
          border: 0;
          outline: none;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 95%;
          border: 0;
          outline: none;
          color: black;
        }
      }

      .student-age {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        input {
          margin-top: 1px;
          border: 0;
          border-bottom: 1px solid #E6E6E6;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border-bottom: 1px solid red;
        }
      }

      .student-experience {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 20px;

        textarea {
          margin-top: 1px;
          width: 356px;
          height: 62px;
          background: #FFFFFF;
          border: 1px solid #E6E6E6;
          resize: none;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border: 1px solid red;
        }
      }

      .student-work {
        width: 356px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        div {
          width: 14px;
          height: 12px;
          margin-left: 16px;
          background: #FFFFFF;
          border: 1px solid #E6E6E6;
          cursor: pointer;

          img {
            height: 14px;
            width: 14px;
            margin-top: -1px;
          }
        }
      }

      .student-study-place {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        input {
          margin-top: 1px;
          border: 0;
          border-bottom: 1px solid #E6E6E6;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border-bottom: 1px solid red;
        }
      }

      .student-study-time {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 18px;

        .study-time-input {
          margin-top: 5px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          div {
            color: #3A3A3A;
          }

          input {
            margin-top: 1px;
            border: 0;
            border-bottom: 1px solid #E6E6E6;
            outline: none;
            margin-bottom: 5px;
          }

          .study-time-first {
            display: flex;
            flex-direction: column;
            small {
              width: 135px;
            }
          }

          .study-time-last {
            display: flex;
            flex-direction: column;
            text-align: end;

            small {
              width: 135px;
              text-align: start;
            }
          }
        }
      }

      .student-comment {
        width: 356px;
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0 auto;
        margin-top: 20px;

        textarea {
          margin-top: 1px;
          width: 356px;
          height: 62px;
          background: #FFFFFF;
          border: 1px solid #E6E6E6;
          resize: none;
          outline: none;
        }

        small {
          padding-top: 5px;
        }

        .invalid {
          border: 1px solid red;
        }
      }

      .confirm {
        display: flex;
        margin: 0 auto;
        margin-top: 26px;

        .confirm-block1 {
          display: flex;

          .confirm-checkbox {
            width: 12px;
            height: 11px;
            background: #FFFFFF;
            border: 1.44656px solid #E6E6E6;
            margin-right: 8px;
            cursor: pointer;

            img {
              height: 12px;
              width: 12px;
              padding-bottom: 4px;
            }
          }
        }

        .confirm-block2 {
          display: flex;
          flex-direction: column;

          .confirm-text1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 95%;
            /* or 12px */
            color: #3A3A3A;
          }

          .confirm-text2 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 95%;
            /* or 12px */
            text-decoration-line: underline;
            color: #3c74de;
            margin-top: 3px;

            a {
              color: #3c74de;
            }
          }
        }
      }

      .student-button-test {
        margin-top: 27px;
        /*margin-bottom: ;*/

        button {
          width: 312px;
          height: 33px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 95%;
          /* identical to box height, or 17px */
          color: #FFFFFF;
          background: #FA9224;
          border-radius: 3px;
          border: 0;
          outline: none;
          cursor: pointer;
        }
      }

    }
  }
  .red-color {
    color: red;
  }
</style>
