<template>
    <div class="main">
        <div class="main-cabinet">
            <div class="header-fio">
                <div class="fio">
                    Рязанцев Игорь Витальевич
                </div>
            </div>
            <div class="main-info">
                <div class="info">

                </div>
            </div>
            <div class="main-button">
                <button>Подтвердить данные</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {}
        },
        methods: {},
        mounted() {
        }
    }
</script>

<style lang="scss" scoped>
    .main {
        display: flex;
        justify-content: center;

        .main-cabinet {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 1432px;
            height: 785px;
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            margin: 50px 0;

            .header-fio {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100px;

                .fio {
                    font-family: Montserrat;
                    font-size: 24px;
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom: 3px solid #3A3A3A;
                }
            }

            .main-info {
                height: 630px;
            }

            .main-button {
                display: flex;
                justify-content: center;

                button {
                    width: 250px;
                    height: 35px;
                    left: 544px;
                    top: 708px;
                    background: #FA9224;
                    border-radius: 7px;
                    color: #ffffff;
                    outline: none;
                    border: 0;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 95%;
                    cursor: pointer;
                }
            }
        }
    }
</style>
