<template>
    <div class="develop-teams">
        <div class="develop-teams-menu">
            <div class="teams-review">
                <div @click="showFormedTeams"
                     :class="{ 'formed-teams-show': this.$router.currentRoute.name === 'formedTeam'}"
                     class="formed-teams">
                    Сформированные команды
                </div>
                <div @click="showUnformedTeams"
                     :class="{ 'unformed-teams-show': this.$router.currentRoute.name === 'unformedTeam'}"
                     class="unformed-teams">
                    Несформированные команды
                </div>
            </div>
            <router-view/>
        </div>
        <button class="button-download"
                v-if="this.$router.currentRoute.name === 'formedTeam' || this.$router.currentRoute.name === 'unformedTeam'"
                @click="getExel">Скачать список в Excel
        </button>
    </div>
</template>

<script>
    import Axios from "axios";

    export default {
        data() {
            return {}
        },
        methods: {
            showFormedTeams: function () {
                this.$router.push('/supervisor/formedTeam');
            },
            showUnformedTeams: function () {
                this.$router.push('/supervisor/unformedTeam');
            },
            getExel() {
                if (this.$router.currentRoute.name === 'formedTeam') {
                    this.$store.dispatch('getExelTeams', this.$store.state.url)
                } else if (this.$router.currentRoute.name === 'unformedTeam') {
                    this.$store.dispatch('getExelRoles', this.$store.state.url)
                }
            }
        },
        mounted() {
            if (!localStorage.getItem('status') && localStorage.getItem('status') !== '15') {
                this.$store.dispatch("logout")
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped lang="scss">
    .develop-teams {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .develop-teams-menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;

        .teams-review {
            display: flex;
            margin-right: 1012px;

            .formed-teams {
                width: 199px;
                height: 19px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                background: #D4D4D4;
                box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.25);
                border-radius: 5px 5px 0 0;
                margin-right: 1px;
                padding-left: 10px;
                padding-top: 3px;
                cursor: pointer;
                user-select: none;
            }

            .formed-teams-show {
                background: #ffffff;
                box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.25);
                position: relative;
                z-index: 1;
                cursor: pointer;
            }

            .unformed-teams {
                width: 199px;
                height: 19px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                background: #D4D4D4;
                box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.25);
                border-radius: 5px 5px 0 0;
                padding-left: 10px;
                padding-top: 3px;
                cursor: pointer;
                user-select: none;
            }

            .unformed-teams-show {
                background: #ffffff;
                box-shadow: 1px -1px 0px rgba(0, 0, 0, 0.25);
                position: relative;
                z-index: 1;
                cursor: pointer;
            }
        }
    }

    .button-download {
        margin-left: 130px;
        margin-bottom: 30px;
        width: 200px;
        height: 40px;
        background-color: #217346;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        position: relative;
        z-index: 400;
        right: 47%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
</style>
