<template>
    <div class="student-test-description">
        <div class="forms-test-description">
            <div class="test-description-text">
                <h4>{{ this.$store.getters.getNameHard }}</h4>
            </div>
            <div>
                <div class="test-info">
                    <h3 class="test-info-title">
                        Здравствуйте! Мы рады что вы хотите пройти нашу Академию, и будем рады вас видеть в будущем, как
                        его участника!
                    </h3>
                    <h4 class="test-info-text">
                        {{ this.$store.getters.getDescriptionHard }}
                    </h4>
                </div>
                <div class="current-select-test">
                    Выберите интересующую вас роль, для прохождения теста:
                    <select v-model="currentRoleTest" @change="useCurrentRole">
                        <option value="manage">Менеджер</option>
                        <option value="analith">Аналитик</option>
                        <option value="test">Тестеровщик</option>
                        <option value="front">Front-end разработчик</option>
                        <option value="back">Back-end разработчик</option>
                        <option value="disign">Дизайнер</option>
                    </select>
                </div>
                <div class="test-button">
                    <button @click="goToTest">Начать тест</button>
                </div>
            </div>
        </div>
        <use-current-role-modal v-if="showModalWindow" @agreeRole="agreeRole" @closeWindow="closeWindow"/>
    </div>
</template>

<script>
    import useCurrentRoleModal from "../components/useCurrentRoleModal";

    export default {
        data: function () {
            return {
                currentRoleTest: 'manage',
                showModalWindow: false
            }
        },
        components: {
            useCurrentRoleModal
        },
        methods: {
            goToTest() {
                this.showModalWindow = !this.showModalWindow
            },
            useCurrentRole: function () {
                this.$store.commit('changeCurrentRole', this.currentRoleTest)
            },
            async agreeRole() {
                await this.$router.push('/testHard')
            },
            closeWindow() {
                this.showModalWindow = !this.showModalWindow
            }
        },
        mounted() {
        }
    }
</script>

<style scoped lang="scss">
    .student-test-description {
        display: flex;
        justify-content: center;

        .forms-test-description {
            display: flex;
            flex-direction: column;
            width: 890px;
            height: 471px;
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin: 152px 0 320px;

            .test-description-text {
                display: flex;
                justify-content: center;
                width: 890px;
                height: 66px;
                background: #7DDAD0;
                color: #ffffff;
                border-radius: 5px 5px 0 0;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 95%;
            }

            .test-info {
                display: flex;
                flex-direction: column;
                height: 200px;

                .test-info-title {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 95%;
                    margin: 0;
                    margin-top: 32px;
                    margin-left: 57px;
                    width: 90%;
                }

                .test-info-text {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 95%;
                    color: #3A3A3A;
                    margin: 0;
                    margin-top: 15px;
                    margin-left: 57px;
                    width: 90%;
                }
            }

            .current-select-test {
                font-family: Montserrat;
                font-size: 18px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 35px;
                margin-bottom: 70px;
            }

            .current-select-test select {
                font-family: Montserrat;
                font-size: 18px;
                width: 46%;
                height: 25px;
                border: 1px solid #3A3A3A;
                border-radius: 10px;
                background: none;
                padding-left: 10px;
                outline: none;
                margin-top: 10px;
            }

            .test-button {
                display: flex;
                justify-content: center;

                button {
                    width: 234px;
                    height: 26px;
                    background: #FA9224;
                    border-radius: 7px;
                    border: 0;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 95%;
                    color: #FFFFFF;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
</style>
