<template>
    <div class="student-test">
        <div class="forms-test">
            <div class="test-text">
                <h4 class="number-question">{{ getStep + 1 }} из {{getQuestions.length}}</h4>
            </div>
            <div class="main-questions">
                <div class="test-questions">
                    <h4 class="test-questions-number">Вопрос {{ getStep + 1 }}:</h4>
                    <h4 class="test-questions-text">{{ getCurrentQuestion.name }}</h4>
                </div>

                <div class="test-answer">
                    <h4>Варианты ответов:</h4>
                    <div class="test-answer-value">
                        <div class="answer-1" v-for="(answer, index) in getCurrentQuestion.answers">
                            <AnswerCheckbox @answerCheck="answerCheck(index, answer.value)" @showWarning="showWarning"
                                            :index="index" :use="useAnswer"/>
                            <h4 class="answer-text">{{answer.answer}}</h4>
                        </div>
                    </div>
                </div>
                <div class="test-button">
                    <div v-if="getStep + 1 === 1" class="jokeDiv"></div>
                    <button v-if="getStep + 1 !== 1" class="previous-question" @click="backQuestion">Предыдущий вопрос
                    </button>
                    <button v-if="getStep + 1 !== getQuestions.length" class="next-question"
                            @click="nextQuestion">Следующий вопрос
                    </button>
                    <button v-if="getStep + 1 === getQuestions.length" class="next-test" @click="nextTest">Перейти
                        к следующему тесту
                    </button>
                    <button v-if="getStep + 1 !== getQuestions.length" class="give-up" @click="showWindowGivUp">Сдаться</button>
                    <giveUpTest
                            v-if="showGivUp"
                            @closeWindow="closeWindow"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import AnswerCheckbox from "../components/answerCheckbox";
    import giveUpTest from "../components/giveUpTest";

    export default {
        components: {AnswerCheckbox, giveUpTest},
        data() {
            return {
                showGivUp: false,
                useAnswer: true,
                pushAnswer: null,
                backStep: 0
            }
        },
        methods: {
            showWindowGivUp() {
                this.showGivUp = !this.showGivUp
            },
            closeWindow() {
                this.showGivUp = !this.showGivUp
            },
            answerCheck(index, value) {
                this.useAnswer = !this.useAnswer
                this.pushAnswer = value;
                this.backStep = 0;
            },
            showWarning() {
                this.$toastr.warning('Вы не можете выбрать более одного ответа!', 'Ответ уже выбран!', {
                    closeButton: true,
                    timeOut: 1300,
                })
            },
            nextTest() {
                if (!this.useAnswer) {
                    console.log('Отправляю ответ на бэк: ' + this.pushAnswer);
                    this.$toastr.success('Ответ успешно сохранен!', 'Успешно!', {
                        closeButton: true,
                        timeOut: 1000,
                    })
                    setTimeout((() => {
                        this.$router.push('/testPresentHard')
                    }), 1000)
                    this.useAnswer = true;
                    this.backStep = 0;
                } else {
                    this.$toastr.warning('Выберите ответ! Для того, чтобы перейти на следующий тест!', 'Выберите ответ!', {
                        closeButton: true,
                        timeOut: 1500,
                    })
                }
            },
            nextQuestion() {
                if (!this.useAnswer) {
                    new Promise((resolve, reject) => {
                        this.$store.commit('nextQuestion')
                        resolve()
                    }).then(() => {
                        this.$store.commit('changeQuestion')
                    });
                    console.log('Отправляю ответ на бэк: ' + this.pushAnswer);
                    this.$toastr.success('Ответ успешно сохранен!', 'Успешно!', {
                        closeButton: true,
                        timeOut: 1500,
                    })
                    this.useAnswer = true;
                    this.backStep = 0;
                } else {
                    this.$toastr.warning('Выберите ответ! Для того, чтобы перейти на следующий вопрос!', 'Выберите ответ!', {
                        closeButton: true,
                        timeOut: 1500,
                    })
                }
            },
            backQuestion() {
                if (this.backStep === 0) {
                    this.$toastr.warning('Если вы вернетесь, то будет стерт ваш предыдущий ответ!', 'Аккуратно!', {
                        closeButton: true,
                        timeOut: 3000,
                    })
                    this.backStep = 1;
                } else {
                    new Promise((resolve, reject) => {
                        this.$store.commit('backQuestion')
                        resolve()
                    }).then(() => {
                        this.$store.commit('changeQuestion')
                    })
                    this.useAnswer = true;
                    this.backStep = 0;
                }
            },
        },
        computed: {
            getQuestions() {
                return this.$store.getters.getQuestions
            },
            getStep() {
                return this.$store.getters.getStep
            },
            getCurrentQuestion() {
                return this.$store.getters.getCurrentQuestion
            }
        },
        mounted() {
            this.$store.commit('changeQuestion')
        }
    }
</script>

<style scoped lang="scss">
    .student-test {
        display: flex;
        justify-content: center;

        .forms-test {
            display: flex;
            flex-direction: column;
            width: 890px;
            /*height: 471px;*/
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin: 152px 0 320px;

            .test-text {
                display: flex;
                justify-content: center;
                width: 890px;
                height: 66px;
                background: #7DDAD0;
                color: #ffffff;
                border-radius: 5px 5px 0 0;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 95%;
            }

            .main-questions {
                width: 100%;

                .test-questions {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    /*line-height: 95%;*/
                    color: #3A3A3A;
                    margin-left: 57px;
                    margin-top: 32px;
                    margin-bottom: 30px;
                    display: flex;
                    line-height: 1.5;

                    .test-questions-number {
                        width: 130px;
                    }

                    .test-questions-text {
                        width: 700px;
                        margin-right: 50px;
                    }
                }

                .test-answer {
                    margin-left: 130px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    /*line-height: 95%;*/
                    color: #3A3A3A;

                    .test-answer-value {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 120%;

                        .answer-1 {
                            display: flex;
                            align-items: center;
                            height: 50px;
                            user-select: none;

                            .answer-text {
                                margin-left: 15px;
                            }
                        }
                    }

                }

                .test-button {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    margin-top: 50px;

                    .previous-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-left: 27px;
                        cursor: pointer;
                    }

                    .jokeDiv {
                        width: 234px;
                        margin-left: 27px;
                        border: none;
                        background: none;
                    }

                    .next-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        cursor: pointer;
                    }

                    .next-test {
                        width: 274px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-right: 27px;
                        cursor: pointer;
                    }

                    .give-up {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-right: 27px;
                        cursor: pointer;
                    }
                }

                .test-complete-button {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    margin-top: 90px;

                    .test-complete {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-right: 27px;
                    }

                    .previous-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-left: 27px;
                    }
                }
            }
        }
    }
</style>