<template>
  <div class="student-test-complete">
    <div class="test-complete">
      <h1>
        Тест пройден!
      </h1>
      <h3>
        Благодарим за уделенное время.
        Наша команда свяжется с вами по электронной почте или телефону в течении 24 часов.
      </h3>
    </div>
  </div>
</template>

<script>
  export default {

  }
</script>

<style scoped lang="scss">
  .student-test-complete {
    display: flex;
    justify-content: center;

    .test-complete {
      display: flex;
      text-align: center;
      flex-direction: column;
      width: 562px;
      height: 217px;
      background: #FFFFFF;
      box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      margin-top: 75px;

      h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0;
        margin-top: 30px;
      }

      h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 95%;
        color: #3A3A3A;
        margin: 0;
        margin-top: 30px;
      }
    }
  }
</style>
