<template>
    <div class="student-test">
        <div class="forms-test">
            <div class="test-text">
                <h4 class="time-test">{{currentTime}}</h4>
                <h4 class="number-question">{{numberQuestion + 1}} из {{data.data.data.length }}</h4>
            </div>
            <form>
                <div class="test-questions">
                    <h4 class="test-questions-number">Вопрос {{numberQuestion + 1}}:</h4>
                    <h4 class="test-questions-text">{{data.data.data[numberQuestion].question_text}}</h4>
                </div>

                <div class="test-answer">
                    <h4>Варианты ответов:</h4>
                    <div class="test-answer-value">
                        <div class="answer-1" v-for="answer in data.data.data[numberQuestion].answers">
                            <answerCheck
                                    @answerCheck="answerCheck"
                                    :key="answer.id"
                                    :question_id="data.data.data[numberQuestion].question_id"
                                    :answer_id="answer"
                            />
                            <h4>{{answer.text}}</h4>
                        </div>
                    </div>
                </div>
                <div v-if="numberQuestion === data.data.data.length - 1" class="test-complete-button">
                    <button class="previous-question" @click.prevent="previousQuestion">Предыдущий вопрос</button>
                    <button class="test-complete" @click.prevent="testComplete">Завершить тест</button>
                </div>
                <div v-else class="test-button">
                    <button class="previous-question" @click.prevent="previousQuestion">Предыдущий вопрос</button>
                    <button class="next-question" @click.prevent="nextQuestion">Следующий вопрос</button>
                    <button class="give-up" @click.prevent="giveUp">Сдаться</button>
                    <giveUpTest
                            v-if="show"
                            @closeWindow="closeWindow"
                    />
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import giveUpTest from "../components/giveUpTest";
    import answerCheck from "../components/answerCheckbox";

    export default {
        props: ['todo'],
        data: function () {
            return {
                timeTest: '14:51',
                numberQuestion: 0,
                answer0: false,
                answer1: false,
                answer2: false,
                answer3: false,
                answer4: false,
                currentTime: 24,
                timer: null,
                checkAnswer: 0,
                data: {data: {}},
                answer_id: null,
                question_id: null,
                answer_id_step: 0,
                show: false
            }
        },
        components: {
            answerCheck,
            giveUpTest
        },
        async mounted() {
            this.startTimer()
            await this.$store.dispatch('getTest')
            this.data = await this.$store.state.test
            console.log('test', this.data)
        },
        destroyed() {
            this.stopTimer()
        },
        methods: {
            answerCheck(answer) {
                this.question_id = answer.question_id
                if (answer.answer) {
                    this.checkAnswer++
                    this.answer_id = answer.answer_id
                    // if (answer.answer_id === 1 + this.answer_id_step) {
                    //   this.answer1 = true
                    // } else if (answer.answer_id === 2 + this.answer_id_step) {
                    //   this.answer2 = true
                    // }  else if (answer.answer_id === 3 + this.answer_id_step) {
                    //   this.answer3 = true
                    // } else if (answer.answer_id === 4 + this.answer_id_step) {
                    //   this.answer4 = true
                    // }
                } else {
                    this.checkAnswer--
                    // if (answer.answer_id === 1 + this.answer_id_step) {
                    //   this.answer1 = false
                    // } else if (answer.answer_id === 2 + this.answer_id_step) {
                    //   this.answer2 = false
                    // }  else if (answer.answer_id === 3 + this.answer_id_step) {
                    //   this.answer3 = false
                    // } else if (answer.answer_id === 4 + this.answer_id_step) {
                    //   this.answer4 = false
                    // }
                }
                console.log('answer : ', answer)
                console.log('question_id', this.question_id)
                console.log('answer_id', this.answer_id)
                // console.log('answer1 : ', this.answer1)
                // console.log('answer2 : ', this.answer2)
                // console.log('answer3 : ', this.answer3)
                // console.log('answer4 : ', this.answer4)
                console.log('answerCheck', this.checkAnswer)
            },
            async testComplete() {
                if (this.checkAnswer === 0) {
                    this.$toastr.warning('Выберите вариант ответа', 'Ошибка', {
                        closeButton: true,
                        timeOut: 1500
                    })
                    return
                } else if (this.checkAnswer > 1) {
                    this.$toastr.warning('Возможен только один вариант ответа', 'Ошибка', {
                        closeButton: true,
                        timeOut: 1500
                    })
                    return
                }
                let data = {
                    question_id: this.question_id,
                    answer_id: this.answer_id
                }
                await this.$store.dispatch('setAnswer', data)
                    .then(() => this.$store.dispatch('calculateResult')
                    )

                    .catch(err => {
                        console.log(err)
                        return
                    })
                // await this.$store.dispatch('calculateResult')
                this.$router.push('/testComplete')
            },
            previousQuestion() {
                if (this.numberQuestion !== 0) {
                    this.answer1 = false
                    this.answer2 = false
                    this.answer3 = false
                    this.answer4 = false
                    this.checkAnswer = 0
                    this.numberQuestion = this.numberQuestion - 1
                }
                let data = {
                    question_id: this.data.data.data[this.numberQuestion].question_id
                }
                console.log(data)
                this.$store.dispatch('getAnswer', data)
            },
            async nextQuestion() {
                if (this.checkAnswer === 0) {
                    this.$toastr.warning('Пожалуйста, выберите вариант ответа', 'Ошибка', {
                        closeButton: true,
                        timeOut: 1500
                    })
                    return
                } else if (this.checkAnswer > 1) {
                    this.$toastr.warning('Возможен только один вариант ответа', 'Ошибка', {
                        closeButton: true,
                        timeOut: 1500
                    })
                    return
                }
                // if (this.answer1 === true) {
                //   this.answer_id = 1 + this.answer_id_step
                // } else if (this.answer2 === true) {
                //   this.answer_id = 2 + this.answer_id_step
                // }  else if (this.answer3 === true) {
                //   this.answer_id = 3 + this.answer_id_step
                // } else if (this.answer4 === true) {
                //   this.answer_id = 4 + this.answer_id_step
                // }
                let data = {
                    question_id: this.question_id,
                    answer_id: this.answer_id
                }
                await this.$store.dispatch('setAnswer', data)
                this.numberQuestion = this.numberQuestion + 1
                this.answer1 = false
                this.answer2 = false
                this.answer3 = false
                this.answer4 = false
                this.checkAnswer = 0
                // this.answer_id_step = this.answer_id_step + 4
            },
            giveUp() {
                this.show = true
            },
            closeWindow(show) {
                this.show = show
            },
            startTimer() {
                this.timer = setInterval(() => {
                    this.currentTime--
                }, 1000)
            },
            stopTimer() {
                clearTimeout(this.timer)
            },

        },
        watch: {
            currentTime(time) {
                if (time === 0) {
                    this.stopTimer()
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .student-test {
        display: flex;
        justify-content: center;

        .forms-test {
            display: flex;
            flex-direction: column;
            width: 890px;
            /*height: 471px;*/
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin: 152px 0 320px;

            .test-text {
                display: flex;
                justify-content: space-between;
                width: 890px;
                height: 66px;
                background: #7DDAD0;
                color: #ffffff;
                border-radius: 5px 5px 0 0;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 95%;

                .time-test {
                    margin-left: 26px;
                    margin-top: 23px;
                }

                h4 {
                    margin-top: 23px;
                }

                .number-question {
                    margin-right: 390px;
                }
            }

            form {
                width: 100%;

                .test-questions {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    /*line-height: 95%;*/
                    color: #3A3A3A;
                    margin-left: 57px;
                    margin-top: 32px;
                    margin-bottom: 30px;
                    display: flex;
                    line-height: 1.5;

                    .test-questions-number {
                        width: 130px;
                    }

                    .test-questions-text {
                        width: 700px;
                        margin-right: 50px;
                    }
                }

                .test-answer {
                    margin-left: 130px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    /*line-height: 95%;*/
                    color: #3A3A3A;

                    h4 {
                        margin: 0 0 25px 0;
                    }

                    .test-answer-value {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 120%;

                        .answer-1 {
                            display: flex;
                            margin-top: 10px;

                            div {
                                height: 16px;
                                width: 16px;
                                border: 1px solid black;
                                border-radius: 10%;
                                margin-bottom: 10px;
                                margin-top: 1px;

                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            h4 {
                                margin-left: 30px;
                                margin-bottom: 10px;
                                /*margin-top: 2px;*/
                                width: 700px;
                                margin-right: 100px;
                            }
                        }
                    }

                }

                .test-button {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    margin-top: 50px;

                    .previous-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-left: 27px;
                    }

                    .next-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                    }

                    .give-up {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-right: 27px;
                    }
                }

                .test-complete-button {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 32px;
                    margin-top: 90px;

                    .test-complete {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-right: 27px;
                    }

                    .previous-question {
                        width: 234px;
                        height: 26px;
                        left: 544px;
                        top: 708px;
                        background: #FA9224;
                        border-radius: 7px;
                        color: #ffffff;
                        outline: none;
                        border: 0;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 95%;
                        margin-left: 27px;
                    }
                }
            }
        }
    }
</style>
