<template>
    <div class="unformed-team-div">
        <div class="unformed-team">
            <div class="unformed-team-border-top"></div>
            <div class="teams-div">
                <div class="team-card" v-for="(team, index) in allTeam" :key="index">
                    <div v-if="!team.changeInput" @dblclick="showInputChange(index)" class="name-team">
                        {{ team.team_name }}
                    </div>
                    <div v-if="team.changeInput" class="change-input">
                        <input type="text" v-model="changeTeamName" @keyup.enter="hideInputChange(team.team_id, index)"
                               placeholder="Введите новое название"
                               @input="validChangeTeamName"
                               id="changeTeamName"
                        >
                    </div>
                    <div class="name-border-bottom"></div>
                    <div class="peoples-team">
                        <draggable
                                class="board"
                                v-model="team.students"
                                v-bind="dragOptions"
                                @start="dragStart"
                                @end="dragEnd"
                        >
                            <transition-group class="team-board" :data-teamId="team.team_id" type="transition">
                                <unformed-people v-for="(people, i) in team.students" :peopleId="people.id"
                                                 :people="people" :key="i" @selectId="selectId"
                                                 @showWindowInfo="showWindowInfo"/>
                            </transition-group>
                        </draggable>
                    </div>
                    <button @click="formedTeam(team.team_id, team.students ,index)" class="unformed-team-button">
                        Сформировать команду
                    </button>
                </div>
            </div>
            <div class="unformed-team-border-bottom"></div>
        </div>
        <div class="unformed-people">
            <div class="unformed-people-border-top"></div>
            <filterStudent @autoFormation="autoFormation"/>
            <unformed-people-board id="board_2"
                                   @showWindowInfo="showWindowInfo"/>
            <div class="unformed-people-border-bottom"></div>
        </div>
        <information-of-student v-if="showInfo" @closeWindow="closeWindow"
                                :peopleInfo="peopleInfo"/>
    </div>
</template>

<script>
    import unformedTeamCard from "../components/unformedTeamCard";
    import unformedTeamBoard from "../components/unformedTeamBoard";
    import unformedPeople from "../components/unformedPeople";
    import unformedPeopleBoard from "../components/unformedPeopleBoard";
    import informationOfStudent from "../components/informationOfStudent";
    import draggable from 'vuedraggable'
    import Axios from "axios";
    import filterStudent from '../components/filterStudent'
    import index from "../store";

    export default {
        name: "formedTeam",
        components: {
            unformedTeamCard,
            unformedPeople,
            unformedPeopleBoard,
            unformedTeamBoard,
            informationOfStudent,
            draggable,
            filterStudent
        },
        data() {
            return {
                teamArray: [],
                peopleArray: [],
                showInfo: false,
                peopleInfo: {},
                showInput: false,
                teamName: '',
                changeTeamName: '',
                drag: false,
                peopleId: null,
                newTeamId: null,
                auto: false
            }
        },
        methods: {
            autoFormation() {
                this.$store.dispatch('autoFormation', this.$store.state.url)
                this.auto = true
            },
            validChangeTeamName() {
                if (this.changeTeamName[0] === ' ') {
                    this.changeTeamName = ''
                }
                if (this.changeTeamName.length > 30) {
                    document.querySelector('#changeTeamName').style.borderBottomColor = 'red'
                    this.$toastr.error('Название команды должно быть меньше 30 символов', 'Ошибка', {
                        closeButton: true,
                        timeOut: 3000,
                    })
                    return
                } else if (this.changeTeamName.length < 1) {
                    document.querySelector('#changeTeamName').style.borderBottomColor = 'red'
                    this.$toastr.error('Название команды должно быть больше 1 символа', 'Ошибка', {
                        closeButton: true,
                        timeOut: 3000,
                    })
                    return
                } else {
                    document.querySelector('#changeTeamName').style.borderBottomColor = '#3A3A3A'
                }
            },
            selectId: function (peopleId) {
                this.peopleId = peopleId;
            },
            dragStart: function () {
                this.drag = true;
            },
            dragEnd: function (evt) {
                this.drag = false;
                this.newTeamId = parseInt(evt.to.getAttribute('data-teamId'));
                Axios({
                    url: this.$store.state.url + '/change-team',
                    data: {
                        user_id: this.peopleId,
                        team_id: this.newTeamId,
                    },
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then(resp => {
                        // console.log(resp)
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            formedTeam: function (team, students, index) {
                if (students.length !== 0) {
                    Axios({
                        url: this.$store.state.url + '/change-status-team',
                        data: {
                            team_id: team,
                            form: 1,
                        },
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                        .then(resp => {
                            // console.log(resp)
                            this.formedTeamUpdate(index)
                        })
                        .catch(err => {
                            console.log(err)
                        })
                } else {
                    this.$toastr.warning('Нельзя сформировать пустую команду!', {
                        closeButton: true,
                        timeOut: 3000,
                    })
                }
            },
            formedTeamUpdate: function (index) {
                // this.$store.dispatch('getTeams', this.$store.state.url)
                this.$store.commit('spliceTeam', index)
            },
            showInputChange: function (index) {
                let payload = {
                    i: index,
                    val: true
                };
                this.$store.commit('changeInput', payload)
            },
            hideInputChange: function (teamId, index) {
                if (this.changeTeamName !== '' && this.changeTeamName.length <= 30) {
                    Axios({
                        url: this.$store.state.url + '/change-team-name',
                        data: {
                            team_id: teamId,
                            name: this.changeTeamName
                        },
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                        .then(resp => {
                            // console.log(resp)
                            this.changeTeamName = '';
                        })
                        .catch(err => {
                            console.log(err)
                        })
                } else {
                    return
                }
                this.hideInputChangeUpdate(index, this.changeTeamName)
                let payload = {
                    i: index,
                    val: false,
                };
                this.$store.commit('changeInput', payload)
            },
            hideInputChangeUpdate: function (index, name) {
                let payload = {
                    index: index,
                    name: name
                };
                this.$store.commit('changeName', payload)
            },
            closeWindow: function () {
                this.showInfo = !this.showInfo;
            },
            showWindowInfo: function (peopleId) {
                this.peopleInfo = {};
                Axios({
                    url: this.$store.state.url + '/get-student?id=' + peopleId,
                    data: {
                        id: peopleId,
                    },
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + localStorage.getItem('token')
                    }
                })
                    .then(resp => {
                        this.peopleInfo = resp.data;
                    })
                    .catch(err => {
                        console.log(err)
                    })
                this.showInfo = true;
            },
        },
        computed: {
            dragOptions() {
                return {
                    animation: 200,
                    group: "description",
                    disabled: false,
                    ghostClass: "ghost"
                };
            },
            allTeam() {
                return this.$store.getters.allTeam;
            },
        },
        mounted() {
            if (localStorage.getItem('token') && localStorage.getItem('status') && localStorage.getItem('status') === '15') {
                this.$store.dispatch('getTeams', this.$store.state.url)
            } else {
                this.$store.dispatch("logout")
                this.$router.push('/')
                // this.$store.dispatch('messageWarn')
            }
        }
    }
</script>

<style scoped>

    #board_2 {
        height: 830px;
        width: 480px;
        align-items: center;
        overflow-y: scroll;
        padding-right: 20px;
        position: relative;
    }

    ::-webkit-scrollbar {
        width: 21px;
        height: 658px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        width: 17px;
        height: 16px;
        background: #7DDAD0;
        border: 0.5px solid #6BACA5;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .unformed-team-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 1432px;
        height: 785px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        margin-bottom: 50px;
    }

    .unformed-team {
        display: flex;
        justify-content: center;
        flex-direction: column;
        -webkit-user-select: none;
    }

    .unformed-people {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 695px;
    }

    .teams-div {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 630px;
        height: 660px;
        overflow-y: scroll;
        padding-bottom: 15px;
    }

    .unformed-team-border-top {
        width: 95%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 9px;
    }

    .unformed-team-border-bottom {
        width: 95%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin-top: 6px;
    }

    .unformed-people-border-top {
        width: 100%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin: 0 35px 20px 0;
    }

    .unformed-people-border-bottom {
        width: 100%;
        height: 0px;
        border: 1px solid #FFFFFF;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        margin: 10px 35px 0 0;
    }

    .team-card {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 562px;
        background: #FFFFFF;
        box-shadow: 0px 5.40385px 20.2644px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        margin-top: 20px;
    }

    .name-team {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 95%;
        /* or 18px */
        color: #3A3A3A;
        margin-top: 15px;
    }

    .change-input {
        margin: 10px 0 5px;
    }

    .change-input input {
        border: 0;
        border-bottom: 1px solid #3A3A3A;
        outline: none;
    }

    .name-border-bottom {
        width: 451px;
        height: 0px;
        border: 1px solid #3A3A3A;
        border-radius: 7px;
        margin-top: 5px;
    }

    .peoples-team {
        width: 100%;
        margin-top: 14px;
    }

    .unformed-team-button {
        width: 242px;
        height: 25px;
        background: #FA9224;
        border: 0;
        border-radius: 7px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #FFFFFF;
        margin-bottom: 15px;
        cursor: pointer;
        outline: none;
    }

    .team-board {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 20px;
    }

    .board {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-bottom: 20px;
    }
</style>
